/*Estructura general*/
body{
    margin: 0;
    padding: 0;
    background-image: url(https://thumbs.dreamstime.com/b/calculator-pen-table-calendar-blue-background-top-view-office-desk-copy-space-179944470.jpg)
}

/*Diseño de las columnas*/
#container{
    width: 900px;
    margin: 0 auto;
}

.col11, .col12, .col13{
    width: 280px;
    float: left;
    margin: 10px;
}

/*Ajustes de diseño a los inputs*/
input.first-column-button{
    width: 280px;
    margin-right: 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    
    -webkit-appearance: none;
    margin: 0;
}

input::-webkit-input-placeholder {
    font-size: 15px;
    line-height: 4;
}

input#new-course-name{
    width: 82%;
}

select#number-of-exams{
    width:50px;
    float:right;
    margin-top: -37.7px;
}

/*Ajustes del canvas en Charts JS*/
.chart-container{
    height: 435px;
}

/*Diseño de las alertas*/
div#validation-error{
    margin-right: -15px;
    margin-top: 10px;
}

/*Botones de acción del Chart*/
a#results-to-download{
    float: right;
    width: 96px;
    margin-left: 160px;
    margin-top: -38px;
}

button#reset-grades-button{
    float: left;
    width: 87px;
    margin-left: 25px;
}

/*FAQ*/
img.faq{
    width: 5%;
    z-index: 1;
    float: right;
}

img#first-column-FAQ{
    margin-top: -63px;
}

img#first-column-FAQ-two{
    margin-bottom: -53px;
}

img#second-column-FAQ, img#third-column-FAQ{
    margin-right: -21px;
    margin-top: -13px;
}